@import "glyphs";

ul.menu, ul.menu li {
	padding: 0;
	margin: 0;
	display: block;
}
ul.menu li {
	position: relative;
}
ul.menu {
	display: none;
	position: absolute;
	min-width: 170px;
}
textarea {
	resize: none;
}
