@mixin fixWidth {
    width: 100%;
    min-width: 820px;
    margin: 0 auto;
}
@mixin whiteChar {
    color: #EEE;
    text-shadow: #000 1px 1px 4px;
}
.float-fix {
	overflow: hidden;
	zoom: 1;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #223;
}
.background, .background div {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}
.foreground {
	position: absolute;
	top: 0;
	width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
}
.head {
    @include fixWidth;
    padding-top: 20px;
    overflow: hidden;
    a {
        display: block;
        @include whiteChar;
    }
    a.logo {
        background: url(../images/logo.png) no-repeat left top;
        margin-left: 10px;
        padding-left: 90px;
        width: 200px;
        height: 80px;
        float: left;
        font-size: 20px;
        font-weight: bold;
        h1 {
            font-size: 30px;
            padding: 0;
            margin: 5px;
            line-height: 40px;
        }
    }
    a.link {
        font-weight: bold;
        padding: 10px;
        float: right;
        margin: 5px;
        background: no-repeat 10px center;
    }
    a.link:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
.body {
    @include fixWidth;
    margin-top: 20px;
    position: relative;
    > .content {
    	position: absolute;
    	top: 0;
    	left: 0;
		width: 100%;
		padding-bottom: 30px;
		.plain-page {
			border-radius: 5px;
			padding: 10px;
			margin: 10px;
			background: rgba(255, 255, 255, 0.8);
			box-shadow: #000 2px 2px 5px;
		}
		.profile-block {
			float: left;
			width: 20%;
			margin: 0;
			margin-left: 2%;
			input, textarea {
				width: 90%;
			}
		}
    }
    h1 {
        @include whiteChar;
        background: no-repeat left center;
        padding-left: 30px;
    }
    a {
        @include whiteChar;
        display: block;
        float: left;
        padding: 1%;
        margin: 1%;
        width: 29%;
        height: 110px;
        overflow: hidden;
        font-size: 30px;
        background: no-repeat right bottom;
        opacity: 0.7;
        -moz-opacity: 0.7;
        opacity: 0.7;
    }
    a:hover {
        opacity: 1;
    }
}
.foot {
    @include whiteChar;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	ul li {
		cursor: pointer;
		background: rgba(0, 0, 0, 0.7);
		a {
    		@include whiteChar;
		}
	}
	ul li:hover {
		background: rgba(0, 0, 0, 0.9);
	}
	ul.main-bar {
		@include fixWidth;
		display: block;
		position: static;
		
		li {
			padding: 0px 10px;
			ul.menu {
				left: 100%;
				bottom: 0;
				top: auto;
			}
		}
		> li {
			li {
				padding: 10px;
			}
			float: left;
			line-height: 40px;
			border-right: 1px solid rgba(255,255,255,0.1);
			> ul.menu {
				left: 0;
				top: auto;
				bottom: 40px;
			}
		}
	}
	.extra {
		@include fixWidth;
		margin-top: 40px;
		display: none;
		overflow: hidden;
		zoom: 1;
		cursor: pointer;
		.friend-list-item {
			float: left;
			padding: 5px;
			margin: 5px;
			img {
				max-width: 25px;
				max-height: 25px;
			}
		}
		.friend-list-item:hover {
			background: rgba(0, 0, 0, 0.7);
		}
	}
}
@import "flowview";
@import "wiki";
