.wikipage {
	overflow: hidden;
	.plain-page {
		float: right;
		width: 64%;
		margin: 0;
		&.basic-wrap {
			float: left;
			width: 24%;
			margin-right: 20px;
			margin-bottom: 10px;
			.btn-group {
				text-align: center;
				display: block;
			}
			.basic {
				p {
					padding-left: 5%;
				}
				img.thumb {
					max-width: 95%;
					max-height: 300px;
					box-shadow: #000 2px 2px 5px;
					display: block;
					margin: 0 auto;
					margin-bottom: 10px;
				}
			}
		}
	}
	h1,h2,h3,h4,h5 {
		border-bottom: 1px solid #AAA;
		.btn-group {
			float: right;
		}
	}
}
.search {
	position: absolute;
	right: 0;
	top: 0;
}
